html {
	height: 100%;
}

body {
	display: grid;
	align-content: center;
	justify-content: center;
	min-height: 100%;
	margin: 0;
  background-color: #212529;
}

canvas {
	border: 1px solid #868e96;
	max-width: calc(100vw - 40px);
	max-height: calc(100vh - 40px);
}

meta[name="viewport"] {
	height: 90%;
}

button {
  color: white;
  background: #06D6A0;
	border: none;
  padding: 3px;
  font-size: 1.2em;
  font-family: 'Kanit', sans-serif;
	cursor: pointer;
	text-align: center;
	border-radius: 8px;
	width: 150px;
	height: 50px;
	transition-duration: 0.4s;
	float: right;
	margin-left: 10%;
	margin-top: 1em;
	margin-right: 2em;
}

button:hover {
	background-color: #CAEDE4;
	color: white;
}

p.error {
	visibility: hidden;
	color: white;
	text-align: center;
	font-family: 'Kanit', sans-serif;
}

div {
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

h1 {
	text-align: center;
	font-family: 'Kanit', sans-serif;
	color: white;
	display: inline-block;
}
